body {
    font-family: Arial;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background: #2575fc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}